 /* Base Styles */
 * {
     box-sizing: border-box;
 }

 body {
    font-family: "Roboto Slab", serif;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     margin: 0;
     padding: 0;
     background-color: #f4f8fc;

 }

 a {
     text-decoration: none;
     color: inherit;
 }

 /* Content Styles */
 .container {
     max-width: 800px;
     margin: 20px auto;
     padding: 20px;
     background-color: #ffffff;
     border-radius: 8px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 }

b {
            color: #444444;
            line-height: 1;
        }

        p {
            line-height: 1;
            font-size: 1.247rem;
            margin: 0;
            padding: 0;
            color: #525252;
        }

        strong {
            line-height: 1;
        }

        br {
            line-height: .4;
        }

        ul {
            line-height: 1;
        }

        li {
            line-height: 1;
            color: #525252;
            font-size: 22px;
        }

        h2 {
            color: #1f1f1f;
        }

        ul {
            list-style: none;
        }

        h1,
        h2,
        h3,
        h4 {
            color: #333;
        }

        h1 {
            font-size: 2.2rem !important;
        }

        h2 {
            font-size: 1.9rem !important;
        }

        h3 {
            font-size: 1.6rem !important;
        }

        p {
            color: #525252 !important;
            font-size: 1.247rem !important;
            /* margin-bottom: 1em; */
        }

        ul {
            font-size: 1.247rem !important;
        }

        li {
            color: #525252;
            list-style: none;
            font-size: 1.247rem !important;
        }

        strong {
            font-size: 1.247rem !important;
            color: #363636;
        }

        @media (max-width:768px) {
            h1 {
                font-size: 2rem !important;
            }

            h2 {
                font-size: 1.8rem !important;
            }

            h3 {
                font-size: 1.4rem !important;
            }

            p {
                font-size: 1.247rem !important;
            }

            li {
                font-size: 1.247rem !important;
            }

            ul {
                font-size: 1.247rem !important;
            }

            strong {
                font-size: 1.247rem;
            }

        }

        @media (max-width:480px) {
            h1 {
                font-size: 1.7rem !important;
            }

            h2 {
                font-size: 1.4rem !important;
            }

            h3 {
                font-size: 1.2rem !important;
            }

            p {
                font-size: 1.1rem !important;
            }

            li {
                font-size: 1.1rem !important;
            }

            ul {
                font-size: 1.1rem !important;
            }

            strong {
                font-size: 1.1rem !important;
            }

        }